<footer>
    <p>&nbsp;&nbsp;<a class="inner-links" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i> Top of page <i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        <br /><br />
    <a class="inner-links" target="_blank" title="Ulrica Skarin" href="https://github.com/ulricaskarin">&copy; Ulrica Skarin 2017</a></p>
</footer>