<nav>
    <label for="show-menu" class="show-menu">&#9776;&nbsp;NAVIGATION</label>
    <input type="checkbox" id="show-menu">
    <ul id="menu">
        <li><a href="/" title="Home">HOME</a></li>
        <li><a href="/breakout" title="Breakout">BREAKOUT</a></li>
        <li><a href="/snake" title="Home">SNAKE</a></li>
        <li><a href="/pacman" title="Home">PACMAN</a></li>
    </ul>
</nav>