<!DOCTYPE html>
<html lang="en">
{{>head}}
<body class="adjust" id="top" data-spy="scroll" data-target=".undernav" data-offset="80">
    <div id="contain-out">
        <div id="wrapper"><div id="top"></div>
            <div id="contain">
                {{>header}}
                {{{body}}}
                {{>footer}}
            </div>
        </div>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>