<div class="wrap wrap-pad">
    <h2>Something went wrong!</h2>
    <div class="box-1">
        <p><em><strong>500 Unexpected error!</strong></em></p>
        <p>An error occurred and your request could not be completed. Please try again or go back to <a href="/" class="inner">
            the startpage</a>!</p>
    </div>
</div>